<header>
  <div class="hamburger separator">
    <i class="bi bi-list"></i>
  </div>
  <div class="bread-crumbs separator">
    <app-bread-crumbs>
      @for(crumb of crumbs; track crumb; let last = $last; let i = $index) {
        <app-crumb [class.active]="last" (click)="onRoute(i)">{{ crumb | uppercase }}</app-crumb>
      }
    </app-bread-crumbs>
  </div>
  <div class="actions">
    <div class="add-new separator">
      ADD NEW&nbsp;&nbsp;&nbsp;<i class="bi bi-plus"></i>
    </div>
    <div class="search separator">
      <i class="bi bi-search"></i>
    </div>
    <div class="notification separator">
      <i class="bi bi-bell-fill"></i>
    </div>
    <div class="profile">
      <span>Admin <i class="bi bi-three-dots-vertical"></i></span>
      <small>(admin&#64;example.com)</small>
    </div>
  </div>
</header>
