:host {
  display: inline;

  &.active {
    font-weight: bold;
  }

  &:not(.active) {
    text-decoration: underline;
    cursor: pointer;
  }

  &::before {
    content: '/';
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
  }
}
